@media (min-width: 1200px) {
    .modal-content{
        padding-left: 17.125rem;
    }
    .cust-modal-content .modal-content{
        padding-left: 0;
    }
}

.primary-button{
    background-color: transparent;
    border: 2px rgb(16, 1, 60) solid;
    border-radius: 1px;
    transition: 0.3s ease-out;
    color: rgb(16, 1, 60);
}

.primary-button:hover{
    background-color: rgb(16, 1, 60);
    border: 2px rgb(16, 1, 60) solid;
    color: white;
    transition: 0.1s ease-in;
}

.secondary-button{
    background-color: transparent;
    border: 2px rgb(16, 1, 60) solid;
    border-radius: 1px;
    transition: 0.3s ease-out;
    color: rgb(16, 1, 60);
}

.secondary-button:hover{
    background-color: rgb(16, 1, 60);
    border: 2px rgb(16, 1, 60) solid;
    color: white;
    transition: 0.1s ease-in;
}

.quicklink-button{
    background: transparent;
    color: black;
    border: 2px solid #2b00ff;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
}

.quicklink-button:hover{
    background: transparent;
    border: 2px solid #e30000; /* Green */
    color: black;
}

.right-sideBar-container{
    position: relative;
    width: 100%;
    height: 100%;
}

.right-sideBar{
    position: fixed;
    top: 0;
    width: 410px;
    height: 100vh;
    right: 0;
    background-color: #1c124d;
    /* color: #ffffff; */
    overflow-y: auto;
}

.right-sideBar-heading{
    color: #4c4864;
}

.sign-in-page{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.sign-in-card{
    padding: 20px;
    width: 100%;
}

.sign-in-pic{
    width: 100%;
    height: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}

.chart-height-1{
    height: 200px;
}